root = true

[*]
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.toml]
indent_style = space
indent_size = 2
tab_width = 2

[*.{yaml,yml}]
indent_size = 2
